* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', 'Josefin Sans', sans-serif;
}
body {
    /* background-image: linear-gradient(to left, #000000b7, #6d0000b0);; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(./assets/Background.jpg);
    background-size: cover;
    background-position: center;
}



.nav-wrapper nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;

}
.logo {
    color: white;
    font-size: 32px;
    font-family: 'Monoton', 'Josefin Sans';
}
.logo span {
    color: #ea1538;
    font-family: 'Monoton', 'Josefin Sans';
}
.nav-wrapper ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
.nav-links{
    
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    font-family: 'Maven Pro', 'Josefin Sans';
    font-weight: bold;
    font-size: 20px;
    

}
.nav-links:hover {
    color: #ea1538;
    transition: 0.3s;
}
.nav-wrapper .login-button {
    text-decoration: none;
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    color: white;
    border-radius: 30px;
    font-family: 'Maven Pro', 'Josefin Sans';
    font-weight: bold;
    font-size: 17px;
    transition: 0.4s;
}
.nav-wrapper .login-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.home {
    margin-top: 25vh;
}
.convertion-main {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}
.convertion-main p {
    padding: 15px;
    text-align: center;
}

#modalButton {
    border: none;
    background: #ea1538;
    padding: 20px 40px;
    margin-top: 20px;
    color: white;
    border-radius: 35px;
    font-family: 'Maven Pro', 'Josefin Sans';
    font-weight: bold;
    font-size: 17px;
    transition: 0.4s;
}
.convertion-main button:hover {
    transform: scale(1.3);
    transition: 0.4s;
}

/*Modal*/
#myModal {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
    background-color: #e0e0e0;
    padding: 20px;
    z-index: 1000;
    width: 70%;
    height: 75vh;
    border-radius: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(./assets/Background2.jpg);
    background-size: cover;
    background-position: center;

  }
  .modal-content {
    padding: 10px;
    
  }
  #closeModal {
    width: 5%;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 30px;
  }
  .getLinkForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .modalInput {
    width: 35vw;
    padding: 5px;
    background: transparent;
    border-width: 3px;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0),#ea153954);
    border-image-slice: 1;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    color: #ea1538;
}
.modalInput:focus {
    outline: none;
}
::placeholder {
    background: transparent;
    color: #ea153963;
    font-size: medium;
    font-style: italic;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.modal_form_label {
    color: #ea1538;
    font-family: 'Maven Pro', 'Josefin Sans';
    font-weight: bold;
    font-size: 32px;

}
.listname_lbl {
    color: #ea1538;
    font-family: 'Maven Pro', 'Josefin Sans';
    font-weight:400;
    font-size: 22px;
}
.modelInputWrapper{
    display: flex;
    flex-direction: row;
}
.nameInputWrapper {
    display: flex;
    flex-direction: column;
}
.link_inbt_lbl {
    display: flex;
    flex-direction: column;
}
.modalSubmit{
    width: fit-content;
    height: min-content;
    padding: 15px;
    margin-left: 30px;
    margin-top: auto;
    border: none;
    background: #ea1538;
    padding: 20px 40px;
    color: white;
    border-radius: 35px;
    font-family: 'Maven Pro', 'Josefin Sans';
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s;
    
}
.modalSubmit:disabled,
    .modalSubmit[disabled] {
    width: fit-content;
    height: min-content;
    padding: 15px;
    margin-left: 30px;
    margin-top: auto;
    border: none;
    background: #ea1538;
    padding: 20px 40px;
    color: white;
    border-radius: 35px;
    font-family: 'Maven Pro', 'Josefin Sans';
    font-weight: bold;
    font-size: 20px;
    cursor: not-allowed;
    opacity: 0.6;
    
}
.modalSubmit:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
.modal-wrapper {
    display: flex;
    flex-direction: row;
    
}
.modalCloseSign {
    display: flex;
    position: fixed;
    align-items: center;
    top: 20%;
    left: 81%;
    transform: translate(-50%, -50%);
    color: #e0e0e0;
    padding: 10px;
    z-index: 1001;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ea1538;
    opacity: 0.8;
    cursor: pointer;

}
.modalCloseSign:hover {
    transition: 0.3s;
    scale: 1.5;
}
.modalCloseCross {
    font-weight: bolder;
    font-family: 'Monoton', 'Josefin Sans';
    cursor: pointer;

}
.about, .help, .contact-us{
    
    color: white;
    margin: 30px 0px 50px 0px;
    padding: 60px 150px 150px 150px;
    background-image: linear-gradient(to left, #ea1538, #ea35153a);
    height: 75vh;
    font-size: 1rem;
}
.about p,.about li, .help p, .help li {
    letter-spacing: 2px;
    line-height: 2;
    
}
.about p, .help p{
    padding-bottom: 30px;
}
.about footer, .help footer {
    margin-top: 7%;
    text-align: center;
    font-size: 15px;
}

.home, .about, .contact-us, .help {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}
.help {
    
    overflow: auto;
    float: left;
}
.help::-webkit-scrollbar {
    width: 12px;
}

.help::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    border-radius: 4px;
}

.help::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#ffffff;
    -webkit-box-shadow: inset 0 0 6px rgba(68, 68, 68, 0.7);
}

.contact-us h2{
    font-size: 2.5rem;
}
.contacts-list li {
    margin-top: 40px;
    
}
.contact-us a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    
}
.contact-us a:hover {
    color: #ea1538;
    transition: 0.3s;
    transform: scale(1.1);
}
.contact-name {
    padding: 15px;
}
.contact-logo {
    font-size: 3rem;
}

/*from 1535 to 600*/
@media only screen and (max-width: 1535px) {
    .about{
    color: white;
    margin: 15px 0px 25px 0px;
    padding: 50px 50px 50px 50px;
    background-image: linear-gradient(to left, #ea1538, #ea35153a);
    height: 75vh;
    font-size: small;
    }
    .nav-wrapper nav {
        padding-top: 10px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .logo {
        font-size: 25px;
    }
    .nav-wrapper ul li {
        padding: 5px 10px;
    }
    .nav-wrapper ul li button {
        font-size: 15px;
    }
    .nav-wrapper .login-button {
        padding: 8px 20px;
        font-size: 17px;
    }
    .convertion-main p {
        padding: 25px;
    }
    .modalCloseSign {
        left: 78%
    }
    .modalInput {
        width: 35vw;
    }
    #myModal {
        flex-wrap: wrap;
        font-size: 1rem
    }
    .modal_form_label {
        font-size: 1.5rem;
    }
    .getLinkForm {
        flex-direction: column;
    }
    .modalSubmit {
        padding: 10px 20px;
        margin: 10%;        
    }

    
}